%header.page-header
  %h1 Login

.well
  = form_tag :session, url: session_path do 
    .form-group
      = email_field_tag :email, params[:email], class: 'form-control', placeholder: "Your Email"
    .form-group
      = password_field_tag :password, params[:password], class: 'form-control', placeholder: 'Your Password'
    .actions
      = submit_tag 'Login', class: 'btn btn-default'
