.page-header
  %h1 Other Users

%table.table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email

  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.email

%br
